.project-grid {
  padding: 60px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.project-card {
  background: #111;
  padding: 30px;
  border-radius: 16px;
  color: white;
  text-decoration: none;
  border: 1px solid rgba(255, 122, 0, 0.6);
  transition: 0.25s;
  box-shadow: 0 0 10px rgba(255, 122, 0, 0.2);
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(255, 122, 0, 0.8);
  border-color: #ff7a00;
}
